.our-expertise {
  background-color: $c-white;

  &__content {
    @include on-grid;
    @include constect-padding;

    row-gap: 56px;
  }

  &__body {
    @include hover(transform, scale(1.05));

    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/6;
    }

    &-first {
      @include on-small-desktop {
        grid-column: 1/4;
      }
    }

    &-center {
      @include on-small-desktop {
        grid-column: 5/9;
      }
    }
    &-last {
      @include on-small-desktop {
        grid-column: 10/-1;
      }
    }
  }

  &__section-title {
    font-size: 44px;
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__photo {
    border-radius: 16px;

    width: $photo-size-our-ex;
    height: $photo-size-our-ex;
    background-size: cover;
    background-position: center;

    &-1 {
      background-image: url(/src/images/what-we-do/what-we-do-1.jpg);
    }
    &-2 {
      background-image: url(/src/images/what-we-do/what-we-do-2.png);
    }
    &-3 {
      background-image: url(/src/images/what-we-do/what-we-do-3.jpg);
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
  }

  &__text {
    color: $c-dirt-gray;

    @include margin-padding-0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
  }
}
