.vis-pas-res {
    position: relative;
  box-sizing: border-box;
  background-color: $c-white;
  padding-block: 72px;
  background-image: url(/src/images/Shapes.png);
  background-position: center;

  @include on-tablet {
    padding-block: 200px;
  }
  &__content {
    @include on-grid;
  }

  &__title {
    grid-column: 1/-1;
    color: $c-title;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }

  &__description {
    grid-column: 1/-1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    color: $c-dirt-gray;
  }

  &__link {
    grid-column: 1/-1;
    display: grid;
    height: 56px;
    background-color: $c-blue;
    place-items: center;
    text-decoration: none;
    color: $c-white;
    border-radius: 8px;

    @include hover(transform, scale(0.95));

    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-small-desktop {
      grid-column: 5/9;
    }

    &--text {
      font-family: Poppins, sans-serif;
      color: $c-white;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
    }
  }

  &__wrapper{
    position: absolute;
    bottom: 0;
    right: 40px;

  }

   &__bookmark {
     clip-path: polygon(
    0 0,       
    100% 0,    
    100% 100%,
    50% 85%, 
    0 100%  
  );
  width: 120px;
  height: 120px;
  transform: rotate(180deg);
  transition: all 0.6s ease;
    background-color: red;
    
    &::before{
        content: 'Тиць!';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg); // розвертаємо назад
        color: #fff;
        font-weight: bold;
        pointer-events: none;
        font-size: 20px;
    }
  
    &:hover {
    height: 200px;
   
    &::before{
        content: 'Наша школа найкраща!';
        text-align: center;
    }
    
  }
}
}

